@import '../variables.scss';

.header-style {
    background: transparent no-repeat top center fixed $color-primary !important;
    background-size: cover !important;
    z-index: 10 !important;
}

.header-container {
    padding-left:  $padding-horizontal;
    padding-right: $padding-horizontal;
    height: $header-height;
    background:inherit;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:10;

    .header-content {
        height: $header-height;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left:  8px;
        padding-right: 8px;
        
        .logo-header {
            max-width: 45px;
            margin-right: 5px;
        }
        
        #routes-area {
            margin-left: auto;

            a {
                color: white;
                margin-right: 48px;
                text-decoration: none;
                font-weight: bolder;
            }

            a:hover {
                opacity: 0.9;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .header-container {
        width: 100%;
        padding: 0%;

        .header-content {
            display: flex;
            align-items: center;
            justify-content: space-between !important;
        }
    }
}