<div class="container contact-container">
	<div class="contact-content">
		<div class="box-info">
			<h1 class="title">Contact <b>Us</b></h1>

			<div class="separator"></div>

			<p>
				We are here to help you and find answers to your questions on
				our Support section, If you can't find the answer to your
				question or have any feedback, reach out to us by completing the
				form. All fields are mandatory unless otherwise stated
			</p>

			<div class="separator"></div>

			<p><b>Adress:</b> 123 Palo Alto, Palo Alto, CA94300</p>
			<p><b>Phone:</b> +55 11 95888-5825</p>
			<p><b>Email:</b> pedro.silva-dev@hotmail.com</p>

			<div class="social">
				<a href="https://www.linkedin.com/in/pedro-silva-65996a181" target="_blank">
					<img src="assets/icon/facebook.svg" alt="facebook" />
				</a>
				<a href="https://www.google.com/" target="_blank">
					<img src="assets/icon/google.svg" alt="google"/>
				</a>
				<a href="https://www.linkedin.com/in/pedro-silva-65996a181" target="_blank">
					<img src="assets/icon/linkedin.svg" alt="linkedin" />
				</a>
				<a href="https://twitter.com/login?lang=pt" target="_blank">
					<img src="assets/icon/twitter.svg" alt="twitter"/>
				</a>
			</div>
		</div>

		<div class="box-form">
			<form #contactForm="ngForm" (ngSubmit)="sendContact()">
				<div class="form-group">
					<input
						type="text"
						required
						name="name"
						class="form-control"
						placeholder="Your Name"
						[(ngModel)]="contact.name"
					/>
				</div>

				<div class="form-group">
					<input
						type="text"
						name="email"
						#emailref="ngModel"
						class="form-control"
						placeholder="Your Email"
						[pattern]="patternEmail"
						[(ngModel)]="contact.email"
					/>

					<div class="form-control-error"
						*ngIf="emailref.errors && (emailref.touched || emailref.dirty)">
						<div [hidden]="!emailref.errors?.pattern">
							Email format is invalid !
						</div>
					</div>
				</div>

				<div class="form-group">
					<input
						type="text"
						required
						class="form-control"
						placeholder="Subject"
						name="subject"
						[(ngModel)]="contact.subject"
					/>
				</div>

				<div class="form-group">
					<textarea
						rows="4"
						required
						name="message"
						class="form-control"
						placeholder="Your Message"
						[(ngModel)]="contact.message"
					>
					</textarea>
				</div>

				<input
					type="submit"
					class="btn btn-primary btn-submit"
					[disabled]="!contactForm.form.valid"
					value="Submit"
				/>
			</form>
		</div>
	</div>
</div>
