@import "../../layout/variables.scss";

$square-size: 225px;

.home-container {
	background: $color-primary;
	padding-left: $padding-horizontal;
	padding-right: $padding-horizontal;
	height: 100vh;

	.home-content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 62vh;

		.box-text {
			text-align: center;
			margin-bottom: 10%;
			position: relative;
			left: 135px;

			.text-principal {
				color: white;
				font-size: 4rem;
				line-height: 1px;
				text-transform: uppercase;
				white-space: nowrap;
			}

			.border {
				height: $square-size;
				width: $square-size;
				border: 3px solid #ffffff66;
				position: relative;

				.text-content {
					width: 550px;
					position: absolute;
					text-align: center;
					top: 21%;
					background-color: $color-primary;
					left: -145%;
				}
			}

			#text-mobile {
				display: none;
			}
		}

		.box-timer {
			display: flex;
			flex-direction: row;

			.item-timer {
				width: 75px;
				margin: 10px;
				text-align: center;

				p {
					color: white;
					font-size: 2rem;
					line-height: 1px;
				}

				#label-item-timer {
					font-size: 1rem;
				}
			}
		}
	}
}

@media only screen and (max-width: 591px) {
	.home-container {
		.home-content {
			.box-text {
				position: initial;

				.text-principal {
					font-size: 2.2rem;
				}
				.border {
					display: none;
				}

				#text-mobile {
					display: initial;
				}
			}
		}
	}
}
