<div class="container home-container">
	<div class="home-content">
		
		<div class="box-text">
			<div class="square fade-effect">
				<div class="text-content">
					<p class="text-principal">We are <b>Square</b></p>
					<p class="text-principal">And we are <b>Coming Soon</b></p>
				</div>
			</div>
		</div>

		<div class="box-timer">
			<div class="item-timer" *ngFor="let item of timerInfo">
				<p>{{item.value}}</p>
				<p id="label-item-timer">{{item.label}}</p>
			</div>
		</div>
	</div>
</div>
